/* Colors and fonts */

body {
	background-color: rgb(230, 230, 230);
	color: rgb(20, 20, 20);
	font-family: Epilogue;
	font-size: 17px;
}

h1, h2 {
	font-family: Arvo;
}

h1 {
	color: blueviolet;
	font-weight: 500;
	font-size: 50px;
}

h2 {
	color: blueviolet;
	font-weight: 100;
	font-size: 30px;
}

a {
	text-decoration: none;
	color: darkred;
}

a:hover {
	color: yellow;
}

/* Custom design with class */

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width:  760px) {
	.container {
		width: 600px;
	}
}

@media (max-width:  500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
	width: 100px;
}

.btn-blue {
	background-color: blueviolet;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
	font-weight: bolder;
}

.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230, 230, 230);
}

.list-inline i:hover {
	color: black;
}

/* Design adjustments using id (1% design remaining) */

#introduction p {
	margin-bottom: 40px;
}